#!/usr/bin/env xdg-open
[Desktop Entry]
Name=ClassAnalizer
GenericName=Asistente de Clases con IA
Comment=Graba clases virtuales de Google Meet y genera guías de estudio con Gemini
Exec=classanalizer gui
Icon=classanalizer
Terminal=false
Type=Application
Categories=Education;AudioVideo;Recorder;Office;
Keywords=meet;recording;gemini;clases;estudio;apuntes;
StartupNotify=true
StartupWMClass=ClassAnalizer
